body{
    font-famoly:Arial, sans-serif;
    margin:20px;
    background-color: #f5f5f5
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2)
}