#Karte {
    width: 400px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;

}
#Kopf {
    height:200px;
    background-color: papayawhip;
    box-sizing: border-box;
    padding: 20px;
    align-items: flex-start;
    gap: 20px;

}
#profil{

    padding-top: 10px;
    width: 120px;
    height: 100px;
    display: flex;
    align-items: center;

    color: black;
/* no comment */

}
#profil_img{
    width: 150px;
    height:150px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #fff;
}
#profil_img img{
    width: 200px;
    height:auto;
    margin-left: -25px;
}
#profil_text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-indent: 10px;
}
