body { background-image: url(https://www.extratipp.com/assets/images/40/231/40231304-halloween-kuerbis-haltbar-machen-2rDCg10LVOfe.jpg);
background-repeat: no-repeat;
    background-attachment: fixed;
    }
p { background-color: rgba(225, 225, 225, 0.6)}